<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Password Recovery Code</p>
      <p>
        Your code is {{ code }}
      </p>
    </div>
  </section>
</body>
</html>
